<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
	<Properties>
		<Property name="logNm">WorkBoard</Property>
		<Property name="layoutPattern">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{2}:%L - %m%n</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${layoutPattern}" />
		</Console>
		<RollingFile name="file" fileName="d:/logs/${logNm}.log" filePattern="d:/logs/${logNm}_%d{yyyy-MM-dd}_%i.log">
			<PatternLayout pattern="${layoutPattern}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
				<TimeBasedTriggeringPolicy module="true" interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="500" fileIndex="min" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</Root>
	</Loggers>
</Configuration>